*{
    margin: 0;
    padding: 0;
}
figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    background-image: url(bg.jpg);
    animation: clouds_animation 30s linear infinite alternate;
  }
  @keyframes clouds_animation {
    0%  {background-position: 0 0;}
    100%  {background-position: -100px 0;}
  }
.txtbg{
  display: flex;
  justify-content: space-between;
  min-height: 15%;
  width: 96%;
  margin-bottom:1.5%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
}
.block{
  min-width:1% ;
}
h3{
  margin: 10px 0 0 10px;
  border-bottom: white solid 1px;
}
p{
  margin: 10px 0 0 10px;
  font-size: 18px;
}
button{align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
button:focus{
  outline: none;
}
#suivant{
  padding: 5px;
}