/* animation */

@keyframes bg_animation {
  0% {
    background-position: 0 -20px;
  }
  100% {
    background-position: -100px -20px; /* change the speed of the bg animation */
  }
}
@keyframes arrow_animation {
  0% {
    top: 0;
  }
  100% {
    top: 6px;
  }
}
/* char animation
 * animation upward , left or right .5s opacity linear
 * animation for possible slip or falling 
 * animation for possible hit and shaking for falling unconscious
 */

/* character animation */
.char_shaking {
  animation: char_shaking .8s linear;
}
@keyframes char_shaking { 
  0% {
    top: 4vh;
  }
  15% {
    top: 3.5vh;
  }
  45% {
    top: 4.2vh;
  }
  75% {
    top: 3.5vh;
  }
  100% {
    top: 4vh;
  }
}
.char_fade_in {
  animation: char_fade_in .3s linear;
}
@keyframes char_fade_in {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  25% {
    opacity: .1;
    filter: grayscale(.6);
  }
  50% {
    opacity: .4;
    filter: grayscale(.4);
  }
  75% {
    opacity: .7;
    filter: grayscale(.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: grayscale(0);
  }
}

.char_move_in {
  animation: char_move_in 1s linear;
}
@keyframes char_move_in {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(1.2);
  }
}
.char_move_out {
  animation: char_move_out 1s linear;
}
@keyframes char_move_out {
  0% {
    transform:scale(1.2);
  }
  100% {
    transform:scale(1);
  }
}
/* mc animation */
.mc_blink_eyes {
  animation: mc_blink_eyes 2s linear;
}
@keyframes mc_blink_eyes {
  0% {
    background-color: black;
  }
  20% {
    background-color: rgba(0, 0, 0, .4);
  }
  40% {
    background-color: transparent;
  }
  60% {
    background-color: rgba(0, 0, 0, .4);
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: transparent;
  }
}
.mc_blind {
  animation: mc_blind 1s linear;
}
@keyframes mc_blind {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 0, .5);
  }
  100% {
    background-color: #000;
  }
}
.mc_unblind {
  animation: mc_unblind 1s linear;
}
@keyframes mc_unblind {
  0% {
    background-color: #000;
  }
  50% {
    background-color: rgba(0, 0, 0, .5);
  }
  100% {
    background-color: transparent;
  }
}
.mc_flashback {
  animation: mc_flashback 1s linear;
}
@keyframes mc_flashback {
  0% {
    background-color: transparent;
  }
  40% {
    background-color: transparent;
  }
  50% {
    background-color: #fff;
  }
  60% {
    background-color: transparent;
    filter: grayscale(.5);
  }
  100% {
    background-color: transparent;
    filter: grayscale(.5);
  }
}
.mc_end_flashback {
  animation: mc_end_flashback 1s linear;
}
@keyframes mc_end_flashback {
  0% {
    background-color: transparent;
    filter: grayscale(.5);
  }
  40% {
    background-color: transparent;
    filter: grayscale(.5);
  }
  50% {
    background-color: #fff;
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
.mc_hit {
  animation: mc_hit 1s linear;
}
@keyframes mc_hit {
  0% {
    top: -20px;
  }
  15% {
    top: 0px;
    left: -20px;
  }
  30% {
    top: -10px;
    left: 0;
  }
  45% {
    top: -20px;
    left: -40px;
  }
  60% {
    top: 0;
    left: -20px;
  }
  75% {
    top: -10px;
    left: -40px;
  }
  90% {
    top: 0;
    left: -40px;
  }
  100% {
    top: -20px;
    left: -60px;
  }
}