@import 'animation.css';
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(bg.jpg);
  animation: bg_animation 30s linear infinite alternate;
}
/* Starting screen */
#startScreen {
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
}
#startScreen h1 {
  margin-bottom: 1em;
  font-size: 3.5em;
}
#start ,#settings {
  width: 100px;
  height: 40px;
  margin-bottom: 1em;
  border: 2px #fff solid;
  border-radius: .6em;
}
/* Main block */
figure {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
}
 /* display the image of the character */
.character { /* img or gif */
  height: 600px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#charbox1 ,#charbox2 ,#charbox3 {
  width: 350px;
  position: absolute;
}
#charbox1 {/* char in front of the other */
  z-index: 3;
}
#charbox2 {
  left: 5%; 
}
#charbox3 {
  right: 5%;
}
/* display the text */
.txtbg { 
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  z-index: 4;
  min-height: 14%;
  width: 96%;
  margin-bottom:1%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
}
.block {
  min-width:1% ;
}
h3 {
  margin: 10px 0 0 10px;
}
p {
  margin: 10px 0 0 10px;
  font-size: 16px;
}
button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
:focus {
  outline: none;
}
#next {
  align-self: flex-end;
  padding: 5px;
}
.arrow {
  position: relative;
  animation: arrow_animation 1s infinite linear alternate-reverse;
}
/* Media querry */

@media screen and (max-width: 769px) {
  figure {
    overflow: hidden;
  }
  #charbox3 {
    right: -10%;
  }
  #charbox2 {
    left: -10%;
  }
}
@media screen and (max-width: 551px) {
  #charbox3 {
    right: -20%;
  }
  #charbox2 {
    left: -20%;
  }
}
@media screen and (max-width: 426px) {
  #charbox3 {
    right: -25%;
  }
  #charbox2 {
    left: -25%;
  }
}
@media screen and (max-width: 376px) {
  #charbox3 {
    right: -35%;
  }
  #charbox2 {
    left: -35%;
  }
}