@import 'animation.css';
*{
  margin: 0;
  padding: 0;
}
figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  background-image: url(bg.jpg);
  animation: bg_animation 30s linear infinite alternate;
}
 /* display the image of the character*/
.character{ /* img or gif */
  height: 600px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#charbox1 ,#charbox2 ,#charbox3{
  width: 350px;
  position: absolute;
}
#charbox1{/* char in front of the other */
  z-index: 3;
}
#charbox2{
  right: 5%;
}
#charbox3{
  left: 5%; 
}
.txtbg{ /* display the text */
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  z-index: 4;
  min-height: 14%;
  width: 96%;
  margin-bottom:1%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
}
.block{
  min-width:1% ;
}
h3{
  margin: 10px 0 0 10px;
}
hr{
  margin: .2em;
  background-color: white;
}
p{
  margin: 10px 0 0 10px;
  font-size: 18px;
}
button{
  cursor: pointer;
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
:focus{
  outline: none;
}
#suivant{
  padding: 5px;
}
.arrow{
  position: relative;
  animation: arrow_animation 1s infinite linear alternate-reverse;
}
/* Media querry */

@media screen and (max-width: 769px){
  figure{
    overflow: hidden;
  }
  #charbox2{
    right: -10%;
  }
  #charbox3{
    left: -10%;
  }
}
@media screen and (max-width: 551px){
  #charbox2{
    right: -20%;
  }
  #charbox3{
    left: -20%;
  }
}
@media screen and (max-width: 426px){
  #charbox2{
    right: -25%;
  }
  #charbox3{
    left: -25%;
  }
}
@media screen and (max-width: 376px){
  #charbox2{
    right: -35%;
  }
  #charbox3{
    left: -35%;
  }
}